@page
@model RepairMvc.Pages.Orders.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Order.OrderRef" class="control-label"></label>
                <input asp-for="Order.OrderRef" class="form-control" />
                <span asp-validation-for="Order.OrderRef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Address" class="control-label"></label>
                <input asp-for="Order.Address" class="form-control" />
                <span asp-validation-for="Order.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.City" class="control-label"></label>
                <input asp-for="Order.City" class="form-control" />
                <span asp-validation-for="Order.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Postcode" class="control-label"></label>
                <input asp-for="Order.Postcode" class="form-control" />
                <span asp-validation-for="Order.Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Status" class="control-label"></label>
                <select asp-for="Order.Status" class="form-control" asp-items="ViewBag.Statussen"></select>
                <span asp-validation-for="Order.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.HoursWorked" class="control-label"></label>
                <input asp-for="Order.HoursWorked" class="form-control" asp-items="ViewBag.HoursWorked" min="0" />
                <span asp-validation-for="Order.HoursWorked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.BeginDate" class="control-label"></label>
                <input min="@DateTime.Today.ToString("yyyy-MM-dd")" asp-for="Order.BeginDate" class="form-control" asp-items="ViewBag.BeginDates" />
                <span asp-validation-for="Order.BeginDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.EndDate" class="control-label"></label>
                <input min="@DateTime.Today.ToString("yyyy-MM-dd")" asp-for="Order.EndDate" class="form-control" asp-items="ViewBag.EndDates" />
                <span asp-validation-for="Order.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Description" class="control-label"></label>
                <textarea asp-for="Order.Description" class="form-control" cols="40" rows="10"></textarea>
                <span asp-validation-for="Order.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.WorkReport" class="control-label"></label>
                <textarea asp-for="Order.WorkReport" class="form-control" cols="40" rows="10"></textarea>
                <span asp-validation-for="Order.WorkReport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
